@charset "utf-8";

body
{
	background-color:rgb(210,210,210); /* Finom szürkeárnyalat */
}

table
{
	border-collapse: collapse; 
/* Nem lesz a cellák között üres hely */
}

th,td
{
	/*
	border-width:1px; 
	border-style:solid; 
	*/
	width:40px; /* szélesség */
	height:40px; /* magasság */
	text-align:center;
}

td
{
	font-size:30px;
}

td.dark  /* sötét mezők */
{
	background-color:black;
	color:white;
}

td.light 
{
	background-color:white;
	color:black;
}





